.expense-table{
    width: 100%;
}
  .expense-rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .expense-rows:hover{
    background-color: #f6f7fb;
    border-radius: 8px;

    .delete-icon{
    display: block;
  }
  .edit-icon{
    display: block;
  }
  }
  .expense-col1{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }
  .expense-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ebedff;
  }
  .expense-text{
    display: flex;
    flex-direction: column;
    gap:8px;
  }
  .expense-title{
    font-size: 16px;
    font-weight: 500;
    font-weight: 600;
    text-transform: capitalize;
  }
  .expense-date{
    font-size: 12px;
    color: #898888;
  }
  .expense-col2{
    display: flex;
    align-items: center;
    gap:15px;
  }
  .delete-icon{
    display: none;
  }
  .delete-icon:hover{
    cursor: pointer;
    color:#af2b2b;
  }
  .edit-icon{
    display: none;
  }
  .edit-icon:hover{
    cursor: pointer;
    color: #2655ff;
  }
  .expense-money{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5c2c2;
    color:#af2b2b;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    padding: 5px 8px;
    gap: 5px;
    min-width: 80px;
  }